<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mol.dao.RealOrderCallpriceMapper" >
  <resultMap id="BaseResultMap" type="com.mol.entity.RealOrderCallprice" >
    <id column="real_call_id" property="realCallId" jdbcType="INTEGER" />
    <result column="order_id" property="orderId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="call_price_amount" property="callPriceAmount" jdbcType="VARCHAR" />
    <result column="call_price_validtime" property="callPriceValidtime" jdbcType="VARCHAR" />
    <result column="offer_diagram" property="offerDiagram" jdbcType="VARCHAR" />
    <result column="make_bill" property="makeBill" jdbcType="VARCHAR" />
    <result column="other_require" property="otherRequire" jdbcType="VARCHAR" />
    <result column="is_prepayed" property="isPrepayed" jdbcType="BIT" />
    <result column="prepayed_money_amount" property="prepayedMoneyAmount" jdbcType="DOUBLE" />
    <result column="attachment" property="attachment" jdbcType="VARCHAR" />
    <result column="accept_vialation_money" property="acceptVialationMoney" jdbcType="BIT" />
    <result column="accept_vialation_money_amount" property="acceptVialationMoneyAmount" jdbcType="DOUBLE" />
    <result column="state" property="state" jdbcType="VARCHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
  </resultMap>
  <sql id="Base_Column_List" >
    real_call_id, order_id, user_id, call_price_amount, call_price_validtime, offer_diagram, 
    make_bill, other_require, is_prepayed, prepayed_money_amount, attachment, accept_vialation_money, 
    accept_vialation_money_amount, state, create_time
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_real_order_callprice
    where real_call_id = #{realCallId,jdbcType=INTEGER}
  </select>

  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_real_order_callprice
    where real_call_id = #{realCallId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mol.entity.RealOrderCallprice" >
    insert into t_real_order_callprice (real_call_id, order_id, user_id, 
      call_price_amount, call_price_validtime, offer_diagram, 
      make_bill, other_require, is_prepayed, 
      prepayed_money_amount, attachment, accept_vialation_money, 
      accept_vialation_money_amount, state, create_time
      )
    values (#{realCallId,jdbcType=INTEGER}, #{orderId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, 
      #{callPriceAmount,jdbcType=VARCHAR}, #{callPriceValidtime,jdbcType=VARCHAR}, #{offerDiagram,jdbcType=VARCHAR}, 
      #{makeBill,jdbcType=VARCHAR}, #{otherRequire,jdbcType=VARCHAR}, #{isPrepayed,jdbcType=BIT}, 
      #{prepayedMoneyAmount,jdbcType=DOUBLE}, #{attachment,jdbcType=VARCHAR}, #{acceptVialationMoney,jdbcType=BIT}, 
      #{acceptVialationMoneyAmount,jdbcType=DOUBLE}, #{state,jdbcType=VARCHAR}, #{createTime,jdbcType=TIMESTAMP}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mol.entity.RealOrderCallprice" >
    insert into t_real_order_callprice
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="realCallId != null" >
        real_call_id,
      </if>
      <if test="orderId != null" >
        order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="callPriceAmount != null" >
        call_price_amount,
      </if>
      <if test="callPriceValidtime != null" >
        call_price_validtime,
      </if>
      <if test="offerDiagram != null" >
        offer_diagram,
      </if>
      <if test="makeBill != null" >
        make_bill,
      </if>
      <if test="otherRequire != null" >
        other_require,
      </if>
      <if test="isPrepayed != null" >
        is_prepayed,
      </if>
      <if test="prepayedMoneyAmount != null" >
        prepayed_money_amount,
      </if>
      <if test="attachment != null" >
        attachment,
      </if>
      <if test="acceptVialationMoney != null" >
        accept_vialation_money,
      </if>
      <if test="acceptVialationMoneyAmount != null" >
        accept_vialation_money_amount,
      </if>
      <if test="state != null" >
        state,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="realCallId != null" >
        #{realCallId,jdbcType=INTEGER},
      </if>
      <if test="orderId != null" >
        #{orderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="callPriceAmount != null" >
        #{callPriceAmount,jdbcType=VARCHAR},
      </if>
      <if test="callPriceValidtime != null" >
        #{callPriceValidtime,jdbcType=VARCHAR},
      </if>
      <if test="offerDiagram != null" >
        #{offerDiagram,jdbcType=VARCHAR},
      </if>
      <if test="makeBill != null" >
        #{makeBill,jdbcType=VARCHAR},
      </if>
      <if test="otherRequire != null" >
        #{otherRequire,jdbcType=VARCHAR},
      </if>
      <if test="isPrepayed != null" >
        #{isPrepayed,jdbcType=BIT},
      </if>
      <if test="prepayedMoneyAmount != null" >
        #{prepayedMoneyAmount,jdbcType=DOUBLE},
      </if>
      <if test="attachment != null" >
        #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="acceptVialationMoney != null" >
        #{acceptVialationMoney,jdbcType=BIT},
      </if>
      <if test="acceptVialationMoneyAmount != null" >
        #{acceptVialationMoneyAmount,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mol.entity.RealOrderCallprice" >
    update t_real_order_callprice
    <set >
      <if test="orderId != null" >
        order_id = #{orderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="callPriceAmount != null" >
        call_price_amount = #{callPriceAmount,jdbcType=VARCHAR},
      </if>
      <if test="callPriceValidtime != null" >
        call_price_validtime = #{callPriceValidtime,jdbcType=VARCHAR},
      </if>
      <if test="offerDiagram != null" >
        offer_diagram = #{offerDiagram,jdbcType=VARCHAR},
      </if>
      <if test="makeBill != null" >
        make_bill = #{makeBill,jdbcType=VARCHAR},
      </if>
      <if test="otherRequire != null" >
        other_require = #{otherRequire,jdbcType=VARCHAR},
      </if>
      <if test="isPrepayed != null" >
        is_prepayed = #{isPrepayed,jdbcType=BIT},
      </if>
      <if test="prepayedMoneyAmount != null" >
        prepayed_money_amount = #{prepayedMoneyAmount,jdbcType=DOUBLE},
      </if>
      <if test="attachment != null" >
        attachment = #{attachment,jdbcType=VARCHAR},
      </if>
      <if test="acceptVialationMoney != null" >
        accept_vialation_money = #{acceptVialationMoney,jdbcType=BIT},
      </if>
      <if test="acceptVialationMoneyAmount != null" >
        accept_vialation_money_amount = #{acceptVialationMoneyAmount,jdbcType=DOUBLE},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where real_call_id = #{realCallId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mol.entity.RealOrderCallprice" >
    update t_real_order_callprice
    set order_id = #{orderId,jdbcType=INTEGER},
      user_id = #{userId,jdbcType=INTEGER},
      call_price_amount = #{callPriceAmount,jdbcType=VARCHAR},
      call_price_validtime = #{callPriceValidtime,jdbcType=VARCHAR},
      offer_diagram = #{offerDiagram,jdbcType=VARCHAR},
      make_bill = #{makeBill,jdbcType=VARCHAR},
      other_require = #{otherRequire,jdbcType=VARCHAR},
      is_prepayed = #{isPrepayed,jdbcType=BIT},
      prepayed_money_amount = #{prepayedMoneyAmount,jdbcType=DOUBLE},
      attachment = #{attachment,jdbcType=VARCHAR},
      accept_vialation_money = #{acceptVialationMoney,jdbcType=BIT},
      accept_vialation_money_amount = #{acceptVialationMoneyAmount,jdbcType=DOUBLE},
      state = #{state,jdbcType=VARCHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP}
    where real_call_id = #{realCallId,jdbcType=INTEGER}
  </update>
</mapper>