<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.mol.dao.RealOrderMapper" >
  <resultMap id="BaseResultMap" type="com.mol.entity.RealOrder" >
    <id column="real_order_id" property="realOrderId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="cas_no" property="casNo" jdbcType="VARCHAR" />
    <result column="english_name" property="englishName" jdbcType="VARCHAR" />
    <result column="chinese_name" property="chineseName" jdbcType="VARCHAR" />
    <result column="buy_amount" property="buyAmount" jdbcType="VARCHAR" />
    <result column="purity" property="purity" jdbcType="VARCHAR" />
    <result column="price_between" property="priceBetween" jdbcType="VARCHAR" />
    <result column="submit_deadline" property="submitDeadline" jdbcType="VARCHAR" />
    <result column="begin_time" property="beginTime" jdbcType="TIMESTAMP" />
    <result column="end_time" property="endTime" jdbcType="TIMESTAMP" />
    <result column="diagram_require" property="diagramRequire" jdbcType="VARCHAR" />
    <result column="make_bill" property="makeBill" jdbcType="BIT" />
    <result column="guarantee_money_percent" property="guaranteeMoneyPercent" jdbcType="DOUBLE" />
    <result column="reward_money_percent" property="rewardMoneyPercent" jdbcType="DOUBLE" />
    <result column="image" property="image" jdbcType="VARCHAR" />
    <result column="refer_doc" property="referDoc" jdbcType="VARCHAR" />
    <result column="join_count" property="joinCount" jdbcType="INTEGER" />
    <result column="state" property="state" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    real_order_id, user_id, cas_no, english_name, chinese_name, buy_amount, purity, price_between, 
    submit_deadline, begin_time, end_time, diagram_require, make_bill, guarantee_money_percent, 
    reward_money_percent, image, refer_doc, join_count, state
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from t_real_order
    where real_order_id = #{realOrderId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from t_real_order
    where real_order_id = #{realOrderId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.mol.entity.RealOrder" >
    insert into t_real_order (real_order_id, user_id, cas_no, 
      english_name, chinese_name, buy_amount, 
      purity, price_between, submit_deadline, 
      begin_time, end_time, diagram_require, 
      make_bill, guarantee_money_percent, reward_money_percent, 
      image, refer_doc, join_count, 
      state)
    values (#{realOrderId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{casNo,jdbcType=VARCHAR}, 
      #{englishName,jdbcType=VARCHAR}, #{chineseName,jdbcType=VARCHAR}, #{buyAmount,jdbcType=VARCHAR}, 
      #{purity,jdbcType=VARCHAR}, #{priceBetween,jdbcType=VARCHAR}, #{submitDeadline,jdbcType=VARCHAR}, 
      #{beginTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, #{diagramRequire,jdbcType=VARCHAR}, 
      #{makeBill,jdbcType=BIT}, #{guaranteeMoneyPercent,jdbcType=DOUBLE}, #{rewardMoneyPercent,jdbcType=DOUBLE}, 
      #{image,jdbcType=VARCHAR}, #{referDoc,jdbcType=VARCHAR}, #{joinCount,jdbcType=INTEGER}, 
      #{state,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.mol.entity.RealOrder" >
    insert into t_real_order
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="realOrderId != null" >
        real_order_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="casNo != null" >
        cas_no,
      </if>
      <if test="englishName != null" >
        english_name,
      </if>
      <if test="chineseName != null" >
        chinese_name,
      </if>
      <if test="buyAmount != null" >
        buy_amount,
      </if>
      <if test="purity != null" >
        purity,
      </if>
      <if test="priceBetween != null" >
        price_between,
      </if>
      <if test="submitDeadline != null" >
        submit_deadline,
      </if>
      <if test="beginTime != null" >
        begin_time,
      </if>
      <if test="endTime != null" >
        end_time,
      </if>
      <if test="diagramRequire != null" >
        diagram_require,
      </if>
      <if test="makeBill != null" >
        make_bill,
      </if>
      <if test="guaranteeMoneyPercent != null" >
        guarantee_money_percent,
      </if>
      <if test="rewardMoneyPercent != null" >
        reward_money_percent,
      </if>
      <if test="image != null" >
        image,
      </if>
      <if test="referDoc != null" >
        refer_doc,
      </if>
      <if test="joinCount != null" >
        join_count,
      </if>
      <if test="state != null" >
        state,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="realOrderId != null" >
        #{realOrderId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="casNo != null" >
        #{casNo,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null" >
        #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="buyAmount != null" >
        #{buyAmount,jdbcType=VARCHAR},
      </if>
      <if test="purity != null" >
        #{purity,jdbcType=VARCHAR},
      </if>
      <if test="priceBetween != null" >
        #{priceBetween,jdbcType=VARCHAR},
      </if>
      <if test="submitDeadline != null" >
        #{submitDeadline,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="diagramRequire != null" >
        #{diagramRequire,jdbcType=VARCHAR},
      </if>
      <if test="makeBill != null" >
        #{makeBill,jdbcType=BIT},
      </if>
      <if test="guaranteeMoneyPercent != null" >
        #{guaranteeMoneyPercent,jdbcType=DOUBLE},
      </if>
      <if test="rewardMoneyPercent != null" >
        #{rewardMoneyPercent,jdbcType=DOUBLE},
      </if>
      <if test="image != null" >
        #{image,jdbcType=VARCHAR},
      </if>
      <if test="referDoc != null" >
        #{referDoc,jdbcType=VARCHAR},
      </if>
      <if test="joinCount != null" >
        #{joinCount,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        #{state,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.mol.entity.RealOrder" >
    update t_real_order
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="casNo != null" >
        cas_no = #{casNo,jdbcType=VARCHAR},
      </if>
      <if test="englishName != null" >
        english_name = #{englishName,jdbcType=VARCHAR},
      </if>
      <if test="chineseName != null" >
        chinese_name = #{chineseName,jdbcType=VARCHAR},
      </if>
      <if test="buyAmount != null" >
        buy_amount = #{buyAmount,jdbcType=VARCHAR},
      </if>
      <if test="purity != null" >
        purity = #{purity,jdbcType=VARCHAR},
      </if>
      <if test="priceBetween != null" >
        price_between = #{priceBetween,jdbcType=VARCHAR},
      </if>
      <if test="submitDeadline != null" >
        submit_deadline = #{submitDeadline,jdbcType=VARCHAR},
      </if>
      <if test="beginTime != null" >
        begin_time = #{beginTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null" >
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="diagramRequire != null" >
        diagram_require = #{diagramRequire,jdbcType=VARCHAR},
      </if>
      <if test="makeBill != null" >
        make_bill = #{makeBill,jdbcType=BIT},
      </if>
      <if test="guaranteeMoneyPercent != null" >
        guarantee_money_percent = #{guaranteeMoneyPercent,jdbcType=DOUBLE},
      </if>
      <if test="rewardMoneyPercent != null" >
        reward_money_percent = #{rewardMoneyPercent,jdbcType=DOUBLE},
      </if>
      <if test="image != null" >
        image = #{image,jdbcType=VARCHAR},
      </if>
      <if test="referDoc != null" >
        refer_doc = #{referDoc,jdbcType=VARCHAR},
      </if>
      <if test="joinCount != null" >
        join_count = #{joinCount,jdbcType=INTEGER},
      </if>
      <if test="state != null" >
        state = #{state,jdbcType=VARCHAR},
      </if>
    </set>
    where real_order_id = #{realOrderId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mol.entity.RealOrder" >
    update t_real_order
    set user_id = #{userId,jdbcType=INTEGER},
      cas_no = #{casNo,jdbcType=VARCHAR},
      english_name = #{englishName,jdbcType=VARCHAR},
      chinese_name = #{chineseName,jdbcType=VARCHAR},
      buy_amount = #{buyAmount,jdbcType=VARCHAR},
      purity = #{purity,jdbcType=VARCHAR},
      price_between = #{priceBetween,jdbcType=VARCHAR},
      submit_deadline = #{submitDeadline,jdbcType=VARCHAR},
      begin_time = #{beginTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      diagram_require = #{diagramRequire,jdbcType=VARCHAR},
      make_bill = #{makeBill,jdbcType=BIT},
      guarantee_money_percent = #{guaranteeMoneyPercent,jdbcType=DOUBLE},
      reward_money_percent = #{rewardMoneyPercent,jdbcType=DOUBLE},
      image = #{image,jdbcType=VARCHAR},
      refer_doc = #{referDoc,jdbcType=VARCHAR},
      join_count = #{joinCount,jdbcType=INTEGER},
      state = #{state,jdbcType=VARCHAR}
    where real_order_id = #{realOrderId,jdbcType=INTEGER}
  </update>
</mapper>