.top{background: #354b56; height: 44px; color: white}
.top-nav-left{height: 44px; line-height: 44px}
.top-nav-right{list-style: none;}
.top-nav-right li{float: left; height:44px; line-height: 44px}
.top-logo{height: 200px; background: grey;}